.grid-container {
  width: 480px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  padding: 10px;
  background-color: white;
}

.grid-row {
  width: 480px;
}

.grid-cell {
  height: 100px;
  width: 100px;
  float: left;
  background-color: #e2eef7;
  border-radius: 50px;
  margin: 10px;}
