.grid-container {
  width: 480px;
  margin: auto;
  border-radius: 60px;
  position: relative;
  z-index: 0;
  padding: 10px;
  background-color: white; }

.grid-row {
  width: 480px; }

.grid-cell {
  height: 100px;
  width: 100px;
  float: left;
  background-color: #e2eef7;
  border-radius: 50px;
  margin: 10px; }

.tile-container {
  position: absolute;
  top: 0; }

.tile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transition: transform 100ms linear;
  -webkit-transition: transform 100ms linear; }

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'Audiowide', cursive;
  background-color: #c0392b; }

.tile:hover {
  cursor: default; }

.tile-wrapper.merged {
  z-index: 0; }

.pos-11 {
  z-index: 1;
  transform: translate(10px, 20px); }

.pos-12 {
  z-index: 1;
  transform: translate(130px, 20px); }

.pos-13 {
  z-index: 1;
  transform: translate(250px, 20px); }

.pos-14 {
  z-index: 1;
  transform: translate(370px, 20px); }

.pos-21 {
  z-index: 1;
  transform: translate(10px, 140px); }

.pos-22 {
  z-index: 1;
  transform: translate(130px, 140px); }

.pos-23 {
  z-index: 1;
  transform: translate(250px, 140px); }

.pos-24 {
  z-index: 1;
  transform: translate(370px, 140px); }

.pos-31 {
  z-index: 1;
  transform: translate(10px, 260px); }

.pos-32 {
  z-index: 1;
  transform: translate(130px, 260px); }

.pos-33 {
  z-index: 1;
  transform: translate(250px, 260px); }

.pos-34 {
  z-index: 1;
  transform: translate(370px, 260px); }

.pos-41 {
  z-index: 1;
  transform: translate(10px, 380px); }

.pos-42 {
  z-index: 1;
  transform: translate(130px, 380px); }

.pos-43 {
  z-index: 1;
  transform: translate(250px, 380px); }

.pos-44 {
  z-index: 1;
  transform: translate(370px, 380px); }

.val-2 {
  background-color: #3498db; }

.val-4 {
  background-color: #2980b9; }

.val-8 {
  background-color: #1abc9c; }

.val-16 {
  background-color: #16a085; }

.val-32 {
  background-color: #2ecc71; }

.val-64 {
  background-color: #9b59b6; }

.val-128 {
  background-color: #f1c40f; }

.val-256 {
  background-color: #f39c12; }

.val-512 {
  background-color: #d35400; }

.val-1024 {
  background-color: #e74c3c; }

.val-2048 {
  background-color: #34495e; }

#background {
  position: absolute;
  z-index: -2; }

.wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.overlay {
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 60px; }

.header {
  padding: 15px;
  text-align: center; }

.title {
  margin: 0 0 15px; }

h1 {
  font-size: 60px; }

h1 .blue {
  color: #3498db; }

h1 .green {
  color: #2ecc71; }

h1 .purple {
  color: #9b59b6; }

h1 .red {
  color: #e74c3c; }

h2 {
  font-size: 30px;
  text-align: center; }

.title h1 {
  font-family: 'Audiowide', cursive;
  width: 200px;
  margin: auto; }

.sub-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; }

.game-score {
  font-size: 30px;
  border: solid 2px #2c3e50;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 5px 0px;
  width: 150px;
  border-radius: 25px;
  font-family: 'Audiowide', cursive; }

.game-score:hover {
  cursor: default; }

.new-game {
  text-align: center; }

.new-game-btn {
  margin: 20px auto;
  background-color: #27ae60;
  color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  text-shadow: black 0 2px;
  font-size: 20px;
  transition: background-color 100ms;
  -webkit-transition: background-color 100ms; }

.new-game-btn:hover {
  background-color: #2ecc71;
  cursor: pointer;
  transition: background-color 100ms;
  -webkit-transition: background-color 100ms; }

#game {
  font-family: 'Audiowide', cursive;
  position: relative;
  filter: blur(10px);
  transition: filter 200ms;
  -webkit-transition: filter 200ms; }

.round-points {
  width: 100%;
  position: absolute;
  top: 40px; }

.points-bubble {
  background-color: #3498db;
  color: white;
  font-size: 25px;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin: auto;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.game-description {
  text-align: center; }

.game-over {
  position: absolute;
  top: 0px;
  right: 125px;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.game-over h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Audiowide', cursive; }

.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */
