@import "./grid.scss";
@import "./tile.scss";
@import "./background.scss";


.wrapper {
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  z-index: 10;
  width: 500px;
  height: 500px;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  border-radius: 60px;
}

.game-container {
  position: relative;
}

.header {
  padding: 15px;
  text-align: center;
}

.title {
  margin: 0 0 15px;
}

h1 {
  font-size: 60px;
}

h1 .blue {
  color: #3498db;
}

h1 .green {
  color: #2ecc71;
}

h1 .purple {
  color: #9b59b6;
}

h1 .red {
  color: #e74c3c;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.title h1 {
  font-family: 'Audiowide', cursive;
  width: 200px;
  margin: auto;
}

.sub-title {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.game-score {
  font-size: 30px;
  border: solid 2px #2c3e50;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 5px 0px;
  width: 150px;
  border-radius: 25px;
  font-family: 'Audiowide', cursive;

}

.game-score:hover {
  cursor: default;
}

.new-game {
  text-align: center;
}

.new-game-btn {
  margin: 20px auto;
  background-color: #27ae60;
  color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  text-shadow: black 0 2px;
  font-size: 20px;
  transition: background-color 100ms;
  -webkit-transition: background-color 100ms;
}

.new-game-btn:hover {
  background-color: #2ecc71;
  cursor: pointer;
  transition: background-color 100ms;
  -webkit-transition: background-color 100ms;
}

#game {
  font-family: 'Audiowide', cursive;
  position: relative;
  filter: blur(10px);
  transition: filter 200ms;
  -webkit-transition: filter 200ms;
}

.round-points {
  width: 100%;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 1;
}

.points-bubble {
  background-color: #3498db;
  color: white;
  font-size: 25px;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin: auto;
  opacity: 0;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}

.game-description {
  text-align: center;
}

.game-over {
  position: absolute;
  top: 0px;
  right: 125px;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-over h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Audiowide', cursive;
}

.hidden {
  display: none;
}
