html, body, header, nav, h1, h2, h3, h4, h5, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  /*Antialiasing:*/
  /*text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

body {
  background-color: #e5eaec;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
