@function powerTwo($exp) {
  $result: 1;

  @for $pow from 1 through $exp {
    $result: $result * 2;
  }

  @return $result;
}

.tile-container {
  position: absolute;
  top: 0;
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 100ms linear;
  -webkit-transition: transform 100ms linear;
  z-index: 1;
  font-size: 25px;
}

.merged {
  z-index: 0;
}

@for $row from 0 through 3 {
  @for $col from 0 through 3 {
    .pos-#{$row+1}#{$col+1} {
      transform: translate(#{2+104*$col}px, #{2+104*$row}px);
    }
  }
}

// Blue shades
@for $val from 0 through 5 {
  $r: 156-$val*29;
  $g: 206-$val*12.6;
  $b: 239-$val*1.8;
  $classVal: powerTwo($val+1);
  .val-#{$classVal} {
    background-color: rgb($r, $g, $b);
  }
}

// Purple Haze
@for $val from 0 through 4 {
  $r: 191-$val*10.75;
  $g: 167-$val*37.25;
  $b: 202;
  $classVal: powerTwo($val+7);
  .val-#{$classVal} {
    background-color: rgb($r, $g, $b);
  }
}
